@model Website.Models.UserModel
<h3>Register New Team Member</h3>
<hr>
<form asp-action="RegisterMember">
    <div class="form-horizontal">
        <input type="hidden" asp-for="UserId">
        <input type="hidden" asp-for="Admin" value="false">
        <div class="form-group">
            <label asp-for="Email"></label>
            <div class="col-md-10">
                <input type="email" asp-for="Email" class="form-control" placeholder="email">
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
        </div>
      
        <div class="form-group">
            <label asp-for="Password"></label>
            <div class="col-md-10">
                <input type="password" asp-for="Password" class="form-control" placeholder="password">
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
        </div>
        
        <div class="form-group">
            <label asp-for="FullName"></label>
            <div class="col-md-10">
                <input asp-for="FullName" class="form-control" placeholder="fullname">
                <span asp-validation-for="FullName" class="text-danger"></span>
            </div>
        </div>
        
        
        @* <div class="form-group">
            <label asp-for="Admin"></label>
            @Html.DropDownListFor(model => model.Admin,
            new SelectList(new List<SelectListItem>{
                new SelectListItem {Text = "Team Member", Value="false"},
                },
                "Value",
                "Text",
                "True"
                ),
                new { @class = "form-group"})
        </div> *@
        
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Register" class="btn btn-primary">
            </div>
        </div>
        
    </div>
</form>